<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Review",
  "author": {
    "@type": "Person",
    "name": "Carly Cavagnoli",
    "jobTitle": "VP Operations",
    "worksFor": {
      "@type": "EducationalOrganization",
      "name": "Zollege Healthcare Career School"
    }
  },
  "itemReviewed": {
    "@type": "FinancialService",
    "name": "{{ site.title }}"
  },
  "reviewBody": "Career Fund simplified our operations while creating opportunities for more students to get the healthcare training they need to launch their career!",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "5",
    "bestRating": "5"
  }
}
</script>
