<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FinancialService",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}{{ site.baseurl }}",
  "logo": "{{ site.url }}{{ site.baseurl }}/assets/uploads/icons/white-logo.svg",
  "description": "{{ site.description }}",
  "foundingDate": "2026",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "bestRating": "5",
    "worstRating": "1",
    "ratingCount": "100"
  },
  "areaServed": {
    "@type": "Country",
    "name": "United States"
  },
  "serviceType": "Student Financing, Payment Plans, Educational Financing",
  "knowsAbout": ["Student Loans", "Trade School Financing", "Payment Plans", "Educational Financing"]
}
</script>
